html {
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

#app {
  height: 100vh;
}

main {
  background: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

main > * + * {
  margin-top: 6rem;
}

h2 {
  color: white;
}


* {
  margin: 0;
  padding: 0;
}
